<%= form_for [@course, @quiz, @course] do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.hidden_field :course_id %>

    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>


  <div class="field">
    <%= f.submit 'Create'%>
  </div>


<% end %>
