<% @quizzes.each do |quiz| %>

    <h3><%= quiz.title %></h3>
    Description: <%= quiz.description %><br>
    <% if current_user.is_admin? %>
      <%= link_to 'Edit', edit_course_quiz_path(quiz.course_id, quiz.id) %> |
      <%= link_to 'Delete', course_quiz_path(quiz.course_id, quiz.id), :method => 'delete' %>

    <% else %>
      <%= link_to 'Take Quiz', course_quiz_path(quiz.course_id, quiz.id) %>
    <% end %>
<% end %>
